// Reference https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

// Font
$font-size-base: 13px;

// -------- Colors -----------
$component-background: #222222;
$item-hover-bg: #2E2E2E;
$background-color-light: #222222;
$border-color-split: #333333;
$disabled-color: #3A3A3A;

// Outline
$outline-width: 0px;

// Primary
$primary-color: #08CCCA;

// Error
$error-color: #E95D5D;


// Radius
$border-radius-base: 4px;
$border-radius-sm: 4px;

// Height
$height-base: 38px;
// $line-height-base: 1;

// -------- Buttons -----------
$btn-default-ghost-border: #555555;
$btn-default-ghost-color: #fff;
$btn-font-weight: 600;
$btn-font-size-sm: 12px;
$btn-primary-color: #08CCCA;
$btn-primary-bg: #222222;

// Select
$select-item-selected-color: #08CCCA;
$select-item-selected-bg: transparent;
$select-dropdown-vertical-padding: 9px;
$select-dropdown-height: 38px;
$select-border-color: transparent;
// Dropdown
// $dropdown-line-height: 40px;

// Table
$table-bg: #111111;
$table-header-bg: #111111;
$table-header-color: #8E8E8E;
$table-row-hover-bg: #2E2E2E;
$table-padding-vertical: 14px;
$table-padding-horizontal: 14px;
$table-border-radius-base: 0;

// Pagination
$pagination-font-weight-active: 700;
$pagination-item-bg: transparent;
$pagination-item-link-bg: transparent;
$pagination-item-bg-active: transparent;

// Input
$input-border-color: transparent;
$input-icon-color: #8E8E8E;
$input-icon-hover-color: #ffffff;

// Progress
$progress-default-color: #08CCCA;
$progress-radius: 2px;
